<div class="container">
    <div class="title">
        <h1>Categories</h1>
    </div>
    <div class="left-side">
        <div class="left-top">
            <a href="#!task" ng-click="loadAnimalsData()"><i class="styles-fontello icon-guidedog"></i></a>
        </div>
        <div class="left-bottom">
            <a href="#!task" ng-click="loadWeatherData()"><i id="tolltip" class="styles-fontello icon-cloud"></i></a>
        </div>
    </div>
    <div class="right-side">
        <div class="right-top">
            <a href="#!task" ng-click="loadSportData()"><i class="styles-fontello icon-baseball"></i></a>
        </div>
        <div class="right-bottom">
            <a href="#!task" ng-click="loadFoodData()"><i class="styles-fontello down-icon demo-icon icon-food"></i></a>
        </div>
    </div>
</div>
